{% extends 'pcrs/base.html' %}
{% load static %}

{% block scripts %}
	{{ block.super }}
{% endblock %}

{% block content %}

	<h2 style="margin-top: 0">Download Mastery Quiz Submissions</h2>
	<a href="/content/mastery_quiz_manager/download" target="_BLANK">
		<button class="btn-main">Download CSV Data</button>
	</a>

	<hr>

	<h2>Upload Mastery Quiz Submissions</h2>
	<form enctype="multipart/form-data" class="admin_upload_csv" method="POST" action="">
		{% csrf_token %}
		<label class="btn-upload" for="id_file">
			{{ file_upload.file }}
			<span id="file-text">Upload a file</span>
		</label>
		<input class="btn-main" type="submit" value="Submit" />
	</form>

	{% if messages %}
		{% for message in messages %}
			<div style="margin-top: 10px"
				{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}
