{% extends "pcrs/crispy_form.html" %}
{% load filters %}
{% load static %}
{% load compress %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "csrf_protection.js" %}" type="text/javascript"></script>
        <script src="{% static "secret_key.js" %}" type="text/javascript"></script>
        <script src="{% static "content/js/challenge_objects.js" %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'csrf_protection.js' %}"></script>
        <script src="{% static "jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js" %}"></script>
    {% endcompress %}
    {% include "pcrs/node_socket_io_includes.html" %}
{% endblock %}

{% block links %}
    <a href="{{ object.get_absolute_url }}">< Back to challenge</a>
{% endblock %}


{% block content %}

    <div class="pcrs-row">
        <div class="row-4-4-4-4">
            {% include "content/search.html" %}
        </div>
        <div id="controls" class="row-4-4-4-4 button-group">
            <button class="small-button" id="add-text" aria-label="add text">&nbsp;
                <i class="font-icon"></i>dd text
            </button>
            <button class="small-button" id="add-page" aria-label="add page">&nbsp;
                <i class="plus-icon">Page</i></button>
        </div>
        <div class="row-4-4-4-4">
            <button class="green-button pull-right" id="save_top" disabled>
                Save
            </button>
        </div>
    </div>
    <hr>

    <div class="pcrs-row">
        <div class="row-6-6-6-6 available_problems">
            {% with problem_app_labels=problems.keys %}
                <ul class="problem-tabs">
                    {% for label in problem_app_labels %}
                        <li><a href="#{{ label }}-tab"
                               aria_label = '{{ label|problem_type_from_label }} problems'
                               data-toggle="tab">{{ label|problem_type_from_label }}</a>
                        </li>
                    {% endfor %}
                    <li><a href="#video-tab"
                               aria_label = 'videos'
                               data-toggle="tab">videos</a>
                    </li>
                </ul>

                <div class="problem-tab-content">
                    {% for label in problem_app_labels %}
                        <div class="tab-pane" id="{{ label }}-tab">
                            <div class="items item-list" id="{{ label }}">
                                {% for problem in problems|get_item:label %}
                                    {% if problem.name != "blank" %}
                                        {% include "content/problem_list_item.html" %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="tab-pane" id="video-tab">
                        <div class="items item-list" id="videos">
                            {% for item in videos %}
                                {% include "content/video_list_item.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endwith %}
        </div>

        <div id="challenge" class="row-6-6-6-6">
            {% for page in object.contentpage_set.all %}
                <div class="page" id="page-{{ page.pk }}">
                    <button class="xs-x-button-right delete-page"
                            title="Delete Page {{ page.order }}">
                    </button>
                    {% for item in page.contentsequenceitem_set.all %}
                        {% with item=item.content_object %}
                            {% if item|classname == 'TextBlock' %}
                                {% include "content/text_list_item.html" %}
                            {% endif %}
                            {% if item|classname == 'Video' %}
                                {% include "content/video_list_item.html" %}
                            {% endif %}
                            {% if item|classname == 'Problem' %}
                                {% with problem=item %}
                                    {% include "content/problem_list_item.html" %}
                                {% endwith %}
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <button class="green-button pull-right" id="save_bot" disabled>
        Save
    </button>
    </div>


    <div class="pcrs-small-modal" id="text-entry-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="pcrs-modal-dialog">
            <div class="pcrs-modal-content">
                <div class="pcrs-modal-header">
                    <button type="button" class="xs-x-button-right" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="pcrs-modal-title" id="myModalLabel">Enter text</h4>
                </div>
                <div class="pcrs-modal-body">
                    <textarea id="text-entry" class="form-control"
                              rows="3"></textarea>
                </div>
                <div class="pcrs-modal-footer">
                    <button type="button" class="reg-button"
                            data-dismiss="modal">Cancel
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="green-button" id="save-text">Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="pcrs-small-modal" id="page-entry-modal" tabindex="-1" role="dialog"
         aria-labelledby="page_entry_ModalLabel" aria-hidden="true">
        <div class="pcrs-modal-dialog">
            <div class="pcrs-modal-content">
                <div class="pcrs-modal-header">
                    <button type="button" class="xs-x-button-right" data-dismiss="modal"
                            aria-hidden="true"></button>
                    <h4 class="pcrs-modal-title" id="page_entry_ModalLabel"></h4>
                </div>
                <div class="pcrs-modal-body">
                    <select id="page_num" title="Select page number">
                    </select>
                    <select id="page_location" title="Select page position">
                    </select>
                </div>
                <div class="pcrs-modal-footer">
                    <button type="button" class="reg-button"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="green-button" id="save-page-num">Add Text
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
