{% extends "pcrs/base.html" %}

{% load filters %}
{% load feedback %}
{% load static %}
{% load compress %}

{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'graph/graph.js' %}" type="text/javascript"></script>
    <script src="{% static 'minimap/minimap.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'minimap/minimap.min.css' %}">
        <link rel="stylesheet" href="{% static 'graph/graph.css' %}">
    {% endcompress %}
{% endblock %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="quest-elements">
        <canvas id="edges"></canvas>
        <div id="challenge-graph"></div>
    </div>
{% endblock %}
