{% load filters %}

{% with item=content_objects|get_item:content_object.pk %}

    <div>
        {% with item_type=item|classname|lower problem_type=item|module_name %}
            {% if item_type == "video" %}
                {% if item.pk in watched %}
                    <span class="video-watched">
                {% else %}
                    <span class="video-not-watched">
                {% endif %}
                </span>
                <a href="{{ page.get_absolute_url }}#video-{{ item.pk }}">
                    {{ item.name }}
                </a>
            {% elif item_type == "problem" %}
                {% if item.is_visible_to_students %}
                    {% with mark=best|get_item:problem_type|get_item:item.pk %}
                        {% if mark == None %}
                            <span class="problem-not-attempted">
                        {% elif mark == item.max_score %}
                            <span class="problem-completed">
                        {% else %}
                            <span class="problem-attempted">
                        {% endif %}
                        </span>
                    {% endwith %}
                    <a href="{{ page.get_absolute_url }}#{{ problem_type|get_div_class }}-{{ item.pk }}">
                        {% if item.name %}
                            {{ item.name }}
                        {% else %}
                            Multiple Choice
                        {% endif %}
                    </a>
                {% endif %}
            {% elif item_type == "textblock" %}
                <a class="text-icon" href="{{ page.get_absolute_url }}#{{ problem_type|get_div_class }}-{{ item.pk }}"></a>
            {% endif %}
        {% endwith %}
    </div>
{% endwith %}
