{% extends "pcrs/base.html" %}
{% load static %}
{% load compress %}
{% load filters %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'react-0.11.1/build/react-with-addons.js' %}"></script>
    {% include "problems/code_problem_scripts.html" %}
    {% include "problems/visualizer_python_includes.html" %}
    <script src="{% static 'csrf_protection.js' %}" type="text/javascript"></script>
    <script src="{% static 'problems/js/problems_helper.js' %}" type="text/javascript"></script>
    <script src="{% static 'problems_multiple_choice/js/mc_submit.js' %}" type="text/javascript"></script>
    {% if 'problems_rating' in problem_types %}
    <script src="{% static 'problems_rating/js/rating_submit.js' %}" type="text/javascript"></script>
    {% endif %}
    {% if 'problems_short_answer' in problem_types %}
    <script src="{% static 'problems_short_answer/js/short_answer.js' %}" type="text/javascript"></script>
    {% endif %}
    {# video js for video widget #}
    <script src="{% static 'video_js/video.js' %}" type="text/javascript"></script>
    <script src="{% static 'content/js/video.js' %}" type="text/javascript"></script>
    <script src="{% static 'content/js/events.js' %}"></script>
    <script src="{% static 'content/build/future/components.js' %}"></script>
    <script src="{% static 'content/build/reactive_content_page.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% include "problems/code_problem_stylesheets.html" %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'video_js/video-js.css' %}">
    {% endcompress %}
{% endblock %}

{% block page_title %}
    {% if not is_mastery_quiz %}
        {{ content_page.challenge.name }} - Part {{ content_page.order }} of {{ num_pages }}
    {% else %}
        Mastery Quiz - {{ content_page.challenge.name }}
    {% endif %}
{% endblock %}

{% block side-bar %}
    <div id="sidebar" class="pcrs-sidebar"></div>
{% endblock %}

{% block timer %}
    {% if is_mastery_quiz %}
        <script type="text/javascript">
        function getTimeRemaining(endtime){
          var date_time = Date.parse(new Date());
          var t = Date.parse(endtime) - Date.parse(new Date());
          var seconds = Math.floor( (t/1000) % 60 );
          var minutes = Math.floor( (t/1000/60) % 60 );
          var hours = Math.floor( (t/(1000*60*60)) % 24 );
          var days = Math.floor( t/(1000*60*60*24) );
          return {
            'seconds_left': Math.floor(t / 1000),
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
          };
        }
        var downloadTimer = setInterval(function(){
          time_remaining = getTimeRemaining('{{ user_session.end_time.isoformat }}');
          if (time_remaining.seconds_left <= 0) {
            window.location.replace('{{ site_prefix }}/mastery/quiz_result');
          }
          else {
            $('#time-remaining').text(
                ('0' + time_remaining.hours).slice(-2) + ':' +
                ('0' + time_remaining.minutes).slice(-2) + ':' +
                ('0' + time_remaining.seconds).slice(-2));
          }
        }, 1000);
        </script>
        <div class="timer-block">
            <p>Time Remaining</p><p id="time-remaining"></p>
        </div>
    {% endif %}
{% endblock %}

{% block pages %}
    {% if not is_mastery_quiz %}
        <div class="pages">
            {% if content_page.get_previous_url %}
            {# They can go back here (not on first question) #}
            <a href="{{ content_page.get_previous_url }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            {% else %}
            {# They are on the first question, disable the link #}
            <a href="{{ site_prefix }}/content/quests">Back to graph</a>
            {% endif %}

            {# Print each page #}
            {% for page in pages %}
                {% if page == content_page.get_page_num %}
                    <a class="active" href="{% url 'challenge_page' content_page.challenge_id page %}">
                        {{ page }}
                    </a>
                {% else %}
                    <a href="{% url 'challenge_page' content_page.challenge_id page %}">
                        {{ page }}
                    </a>
                {% endif %}
            {% endfor %}

            {# We're at the last page #}
            {% if next %}
                <a href="{{ content_page.get_next_url }}">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
            {% else %}
                <a href="{{ site_prefix }}/content/quests">Back to graph</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <!--
    1. Load the YouTube API
    2. YT_Videos contain iframe information to create YT.Players
    3. YT_Players is an array of YT.Players
    (We keep these arrays because the onYouTubeIframeAPIReady
    can be called only once, so we need to store each iframe
    and create YT.Players for all of them when
    onYouTubeIframeAPIReady is invoked.)
    -->
    <script>
        var YT_Videos = new Array();
        var YT_Players = new Array();
        var tag = document.createElement('script');
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>


    {% for object in object_list %}
        {% with item=object.content_object %}
            {% if item|classname|lower == "textblock" %}
                <div id="textblock-{{ item.pk }}">
                    {% include "content/textblock.html" %}
                </div>
            {% elif item|classname|lower == "video" %}
                <div id="video-{{ item.pk }}">
                    {% include 'content/reactive_video_widget.html' %}
                </div>
            {% elif item|classname|lower == "problem" %}
                {% with problem_type=item|module_name %}
                    {% if problem_type == 'problems_multiple_choice' or problem_type == 'problems_rating' or problem_type == 'problems_short_answer' %}
                        <div id="{{ problem_type|get_div_class }}-{{ item.pk }}">
                    {% else %}
                        <div id="{{ problem_type|get_div_class }}-{{ item.pk }}"
                             class="code-mirror-wrapper">
                    {% endif %}
                    {% with problem=item form=forms|get_item:problem_type|get_item:item.pk %}
                        {% include item.get_module_name|add:"/submission_widget.html" %}
                    {% endwith %}
                {% endwith %}
            </div>
            {% endif %}
        {% endwith %}
    {% endfor %}


    <!-- Create YT.Players when YouTube API is ready -->
    <script>
        function onYouTubeIframeAPIReady() {
            for (i = 0; i < YT_Videos.length; i++) {
                var player = new YT.Player(YT_Videos[i].id,
                    {
                    events: {
                        'onStateChange': YT_Videos[i].onPlayerStateChange }
                    });
                YT_Players.push(player);
            }
        }
    </script>


{% if content_page.order > 1 %}
    <a class="green-button" role="button"
       href="{{ content_page.order|add:-1 }}"
       title="Go to previous page">
        <i class="chevron-left-icon"></i>
    </a>
{% endif %}

{% if next %}
    <a class="green-button pull-right" role="button"
       href="{{ next.get_absolute_url }}"
       title="Go to next page">
        <i class="chevron-right-icon"></i>
    </a>
{% endif %}

<div style="clear: both"></div>

{% endblock %}
