{% load static %}
<script src='{% static "mastery/js/mastery.js" %}' type='text/javascript'></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<nav class="pcrs-navbar navbar-static-top" role="navigation">
    <div class="pcrs-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="pcrs-navbar-header">
            <button type="button" class="pcrs-navbar-toggle" data-toggle="collapse" data-target="#student-navbar">
                <span class="at">Toggle navigation</span>
                <span class="pcrs-dropdown-icon"></span>
            </button>
            <a class="pcrs-navbar-brand" href="{{ site_prefix }}"><img src="{% static 'images/pcrs.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="student-navbar">
            {% if user %}
                <ul class="pcrs-navbar-nav pcrs-navbar-left">
                    <li>
                        <a href="{{ site_prefix }}/content/quests" title="Quests">
                            Challenges
                        </a>
                    </li>
                </ul>
                {% if 'problems_c' in problem_types or 'problems_python' in problem_types or 'problems_ra' in problem_types or 'problems_sql' in problem_types %}
                <ul class="pcrs-navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Code Editor
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% if 'problems_python' in problem_types %}
                            <li>
                                <a href="{{ site_prefix }}/editor/python/submit">Python</a>
                            </li>
                        {% endif %}
                        {% if 'problems_c' in problem_types %}
                            <li><a href="{{ site_prefix }}/editor/c/submit">C</a>
                            </li>
                        {% endif %}
                        {% if 'problems_java' in problem_types %}
                            <li><a href="{{ site_prefix }}/editor/java/submit">Java</a>
                            </li>
                        {% endif %}
                        {% if 'problems_sql' in problem_types %}
                            <li><a href="{{ site_prefix }}/editor/sql/submit">SQL</a>
                            </li>
                        {% endif %}
                        {% if 'problems_ra' in problem_types %}
                            <li><a href="{{ site_prefix }}/editor/ra/submit">Relational Algebra</a>
                            </li>
                        {% endif %}
                        {% if 'problems_r' in problem_types %}
                            <li>
                                <a href="{{ site_prefix }}/problems/r/list">R</a>
                            </li>
                        {% endif %}
                        </ul>
                    </li>
                </ul>
                {% endif %}
                <ul class="pcrs-navbar-nav"><li><a href="#" title="Analytics" id="mastery-quiz-button">Mastery Quiz</a></li></ul>
            {% endif %}
            <ul class="pcrs-navbar-nav-right">
                <ul class="pcrs-navbar-nav">
                    <li>
                        <a href="">{{ request.user|upper }}</a>
                    </li>
                 </ul>
                <ul class="pcrs-navbar-nav">
                    <li>
                        <a class="pcrs-navbar-link">
                            section:
                            {% if request.session.viewing_as %}
                                {{ request.session.viewing_as.section }}
                            {% else %}
                                {{ request.session.section }}
                            {% endif %}
                        </a>
                    </li>
                </ul>
                {% include "pcrs/shared_navigation.html" %}
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="mastery-code-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label for="mastery-code-input">Mastery Code</label>
          <input type="text" class="form-control" id="mastery-code-input">
          <br />
          <button id="join-quiz" class="btn btn-primary">Join Quiz</button>
        </div>
        <div class="messages"></div>
      </div>
    </div>
  </div>
</div>


