{% extends "pcrs/base.html" %}

{% block title %} PCRS Login {% endblock %}

{% block page_title %} Please log in {% endblock %}

{% block content %}

    <div id="login" class="col-sm-8 col-lg-offset-2">
        <form action="" method="POST" id="login-form" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">

                <label for="id_username" class="required">Username:</label>
                <input id="username" maxlength="254" name="username" type="text"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <label for="id_password" class="required">Password:</label>
                <input id="password" name="password" type="password"
                       class="form-control"/>
            </div>
            <input type="hidden" name="next" value="{{ NEXT }}"/>
            <input type="hidden" name="alert" class="login_alert"
                   value="{{ NOTIFICATION }}"/>

            <div class="form-group">
                <input type="submit" value="Log in" class="green-button"/>
            </div>
        </form>
    </div>
    <div style="clear:both"></div>
{% endblock %}
