{% extends 'pcrs/base.html' %}

{% block page_title %}
	{{ page_title }}
{% endblock %}

{% block content %}
	<p style='margin-top: -10px;'>
		Mastery Quizzes are 
	</p>
	{% for submission in mastery_quiz_submissions %}
		<div class="mastery-submission">
			{{ submission.mastery_quiz.name }}
		</div>
	{% endfor %}
{% endblock %}