{% extends "pcrs/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'mastery/js/edit_mastery_quiz.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}

	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
	
	{% for mastery_challenge in mastery_quizzes %}

		<div class="panel panel-default">

  			<div challenge-id='{{ mastery_challenge.challenge.id }}' value='{{ mastery_challenge.challenge.id }}' 
			class="quiz-challenge panel-heading form-inline bg-change">
	  			<div class="pull-left">
					<input placeholder="Mastery Challenge Name" 
						class="mastery-name editable form-control" 
						type="text" 
						value="{{ mastery_challenge.challenge.name }}">	
					</input>
					<select class="mastery-quest-id editable selectpicker">
						<option value="" disabled selected>Quest this challenge unlocks</option>
						 {% for quest in quests %}
						 	{% if mastery_challenge.challenge.quest.id == quest.id %}
						 		<option selected value="{{ quest.id }}">{{ quest.name }}</option>
						 	{% else %}
						 		<option value="{{ quest.id }}">{{ quest.name }}</option>
				 			{% endif %}
						 {% endfor %}
					</select>
					<select class="required-mastery-test editable selectpicker">
						<option disabled>Required quiz completion</option>
						<option selected value="none">None</option>
						 {% for mastery_challenge_req in mastery_quizzes %}
						 	{% if mastery_challenge.challenge.requires_id == mastery_challenge_req.challenge.id %}
						 		<option selected value="{{ mastery_challenge_req.challenge.id }}">
						 			{{ mastery_challenge_req.challenge.name }}
						 		</option>
					 		{% else %}
						 		<option value="{{ mastery_challenge_req.challenge.id }}">
						 			{{ mastery_challenge_req.challenge.name }}
						 		</option>
					 		{% endif %}
						 {% endfor %}
					</select>
				</div>
				<div class="pull-right mastery-edit-icons">
					<span style="color: #42a5f5">
						<i class="add-test-to-challenge mastery-edit-icon fa fa-plus-circle fa-2x" aria-hidden="true"></i>
					</span>
					<span style="color: #66bb6a">
						<i class="save-challenge mastery-edit-icon fa fa-check-circle fa-2x" aria-hidden="true"></i>
					</span>
					<span style="color: #ef5350">
						<i class="delete-challenge mastery-edit-icon fa fa-times-circle fa-2x" aria-hidden="true">
					</i></span>
				</div>
				<div style="clear: both"></div>
  			</div>

  			<ul class="list-group">

				{% for mastery_test in mastery_challenge.tests %}
					<li mastery-id="{{ mastery_test.test.id }}" class="quiz-item-container list-group-item bg-change">
						<div class="pull-left form-inline">
							<input placeholder="Test Name" 
								class="input-name editable form-control" 
								type="text" 
								value="{{ mastery_test.test.name }}">	
							</input>
							<input placeholder="Pass Threshold"
								class="input-pass-threshold editable form-control" 
								type="text" 
								value="{{ mastery_test.test.pass_threshold }}">
							</input>
							<select class="mastery-test-id selectpicker">
								{% for challenge in content_mastery_challenges %}
									{% if challenge.mastery_quiz_id == mastery_test.test.id %}
										<option selected value="{{ challenge.id }}">{{ challenge.name }}</option>
									{% else %}
										<option value="{{ challenge.id }}">{{ challenge.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="pull-right mastery-edit-icons">
							<span style="color: #66bb6a">
								<i class="save-test mastery-edit-icon fa fa-check-circle fa-2x" aria-hidden="true"></i>
							</span>
							<span style="color: #ef5350">
								<i class="delete-test mastery-edit-icon fa fa-times-circle fa-2x" aria-hidden="true">
							</i></span>
						</div>
						<div style="clear: both"></div>
					</li>
				{% endfor %}
			</ul>
		</div>

	{% endfor %}

	<button class="add-mastery-btn btn btn-primary">Add Mastery Challenge</button>

	</div>


{% endblock %}