{% extends "pcrs/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
{% endblock %}


{% block content %}

	{% csrf_token %}

	{% if total_marks.percentage > test.pass_threshold_percentage %}
		<div class="alert alert-success">
			Congratulations! You have passed this mastery quiz. :)
		</div>
	{% else %}
		<div class="alert alert-danger">
			You have failed this mastery quiz. :(
		</div>
	{% endif %}

	<h4>Required Pass Percentage: {{ test.pass_threshold_percentage }}%</h4>
	<h4>You have attained a {{ total_marks.percentage }}%, scoring {{ total_marks.score }} out of {{ total_marks.out_of }}.</h4>

	<table class="table">
		<thead>
			<tr>
				<th>Problem</th>
				<th>Score</th>
				<th>Out of</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			{% for problem in problems %}
				<td>{{ problem.name }}</td>
				<td>{{ problem.best_score_scaled }}</td>
				<td>{{ problem.out_of_scaled }}</td>
			{% endfor %}
			</tr>
		</tbody>
	</table>

{% endblock %}