{% extends "pcrs/base.html" %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'mastery/js/edit_mastery_quiz.js' %}"></script>
{% endblock %}


{% block content %}

	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

	<h1>Custom Times</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>User</th>
				<th>Ratio</th>
			</tr>
		</thead>
		<tbody>
			{% for user in custom_time_users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.mastery_time_ratio }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h1>Edit User</h1>

	<div class="row">

	<div class="col-lg-2">
	<select class="selectpicker">
		 {% for user in users %}
	 		<option id="username" value="{{ user.username }}">{{ user.username }}</option>
		 {% endfor %}
	</select>
	</div>

     <div class="col-xs-12 col-lg-3">
        <div class="input-group">
           <input id="ratio" type="text" placeholder="Ratio" class="form-control">
           <span class="input-group-btn">
              <button class = "edit-quiz-time btn btn-primary" type="button">
                 Edit
              </button>
            </span>
        </div>
     </div>

     </div>

{% endblock %}